language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-27.0.0
    - android-27
    - extra-android-m2repository
    - extra-android-support

script:
  - ./gradlew build

before_install:
  - chmod +x gradlew
  - mkdir "$ANDROID_HOME/licenses" || true
  - echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
  - echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"